# Next.js
.next/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Dependencies
node_modules/

# Bun
bun.lockb

# Data
data/

# Build
*.log

# TypeScript
next-env.d.ts

### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
